.wrapper {
    a {
      @apply text-blue-800;
      text-decoration: underline
    }
    strong{
      font-weight: bold;
    }

    ul {
      list-style: disc;
      list-style-position: outside;
      margin-left:16px;
    }
    
  }